<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <link rel="stylesheet" href="..\styles\informacion.css" />
  </head>
  <body>
    <div id="navbar">
      <img src="..\img\logo.png" id="logonav" alt="logo PUCE" />
      <nav>
        <a href="index.html" id="enlace1">Inicio</a>
        <a href="informacion.html" id="enlace2">Información</a>
        <a href="registro.html" id="enlace3">Registro</a>
        <a href="noticias.html" id="enlace4">Noticias</a>
        <a href="ediciones.html" id="enlace5">Ediciones</a>
      </nav>
      <div class="switch-container">
        <label>
          <input type="checkbox" id="toggle-theme" />
          <span class="switch"></span>
        </label>
      </div>
    </div>
    <div id="titulo">
      <h1>¿Qué es el Dev Challenge?</h1>
    </div>
    <div id="cont1">
      <img src="..\img\inf1.gif" id="img1" alt="logo PUCE" />
      <div id="parrafo1">
        <p>
          El Dev Challenge de PUCE TEC es un evento insignia de la universidad
          enfocado en el desarrollo de software. Se organiza para motivar a los
          estudiantes de carreras tecnológicas a competir en programación y
          desarrollar proyectos innovadores. En el evento, los estudiantes
          presentan sus proyectos, que pueden ser aplicaciones web o soluciones
          tecnológicas, y son evaluados por un jurado. El Dev Challenge ofrece a
          los participantes reconocimientos y oportunidades de prácticas
          preprofesionales.
        </p>
      </div>
    </div>
    <div id="cont2">
      <img src="..\img\inf2.gif" id="img2" alt="logo PUCE" />
      <div id="parrafo2">
        <p>
          Más detalles sobre el Dev Challenge:<br><br> Objetivo: Fomentar la creatividad
          y la innovación en el desarrollo de software.<br> Participantes:
          Estudiantes de carreras tecnológicas de la PUCE TEC.<br> Tipo de
          proyectos: Aplicaciones web, soluciones tecnológicas, etc. Evaluación:
          Por un jurado especializado.<br> Recompensas: Reconocimientos,
          oportunidades de prácticas preprofesionales.
        </p>
      </div>
    </div>
    <p>El Dev Challenge ha sido
      exitoso en el pasado, destacando la creatividad y el compromiso
      ambiental de los estudiantes. Uno de los proyectos destacados fue "Eco
      Avatar", una aplicación web que desafía a los usuarios en el mundo
      real para que cumplan desafíos ambientales. También hubo proyectos
      como "ECO TREASURE HUNT", una aplicación para aprender sobre
      sostenibilidad mientras se acumulan puntos. En resumen, el Dev
      Challenge de PUCE TEC es una oportunidad para que los estudiantes de
      tecnología desarrollen sus habilidades y presenten proyectos
      innovadores, fomentando la creatividad y el compromiso con el medio
      ambiente.</p>
  </body>
</html>
